<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Astrometrie.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="apikey" value="abc" />
  </appSettings>
  <userSettings>
    <Astrometrie.Properties.Settings>
      <setting name="folderPath" serializeAs="String">
        <value>E:\expa19</value>
      </setting>
      <setting name="message" serializeAs="String">
        <value>Press Calculate to send last image to nova.astrometry.net</value>
      </setting>
      <setting name="Ra" serializeAs="String">
        <value>00h 00m 00.000s</value>
      </setting>
      <setting name="Dec" serializeAs="String">
        <value>+00° 00' 00.000"</value>
      </setting>
      <setting name="Radius" serializeAs="String">
        <value>0.0000000 deg</value>
      </setting>
    </Astrometrie.Properties.Settings>
  </userSettings>
</configuration>